
.input-form{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Arial';
    border-radius: 3px;
    border: solid 1px #CCC;
    width: 280px;
    margin-bottom: 3px;
}

.button-form{
    background-color: #088A68;
    color: #FFF;
    border-radius: 3px;
    width: 100px;
    height: 40px;
    border: none;
    margin-top: 20px;
}

.button-form:hover{
    background-color: #04B486;
    cursor: pointer;
}

.erro{
    border-color: red;
}